*,
*::before,
*::after {
  box-sizing: border-box;
}
/* змінні */
:root {
    --primary-font: Inter, sans-serif;
    --primary-text-color: #3D362D;
    --primary-bgc: #FFFFFF;
    --secondary-bgc: #F9F5EF;
    --text-hover: #AEA9A0;
    --btn-border-color: #EB000E;

}
/* common styles */
body {
    background-color: var(--primary-bgc);
    color: var(--primary-text-color);
    font-family: var(--primary-font);
}
/* Reset */
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}
ol, ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
a {
    text-decoration: none;
    cursor: pointer;}

  .container {
    /* 1290+16pl+16pr */
    max-width: 1322px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;

    outline: 2px solid red;
    outline-offset: -2px; 
}
 /* header styles */
 .header-container {
    display: flex;
    align-items: center;
    justify-content: center;
 }
 .header-logo {
    margin-right: 731px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.header-logo-img {
}
.header-nav {
}
.header-list {
    display: flex;
    gap: 30px;
}
.header-item {
}
.header-link {
    font-size: 17px;
    line-height: 1.3;
    color: inherit;
}
.header-link:hover,
.header-link:focus {
    color: var(--text-hover);
}
/* hero styles */
.hero {

}

.hero-container {
    display: flex;

    padding-top: 80px;
    padding-bottom: 101px;

    position: relative;
}

.hero-img-first {
    margin-top: 20px;
    margin-right: 21px;
}
.hero-inform {
    display: flex;
    flex-direction: column;
    }
.hero-title {
    font-family: Alegreya Sans SC;
    font-size: 100px;
    font-weight: 500;
    line-height: 1; 
    text-transform: uppercase;

}
.hero-subtitle {
    font-family: Alegreya Sans SC;
    font-size: 80px;
    font-weight: 400;
    line-height: 0.8;
    text-transform: lowercase;

    margin-bottom: 60px;
    margin-left: 110px;

    display: block;
    max-width: 756px;
}
.hero-text {
    font-size: 20px;
    line-height: 1.3;

    margin-bottom: 110px;
    margin-left: 110px;

    display: block;
    max-width: 440px;
}
.hero-link {
    color: inherit;

    font-size: 17px;
    font-weight: 500;
    line-height: 1.3;
   
}
.hero-btn {
    border: 2px solid var(--btn-border-color);
    width: 135px;
    height: 53px;
    background-color: inherit;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    margin-left: 242px;
    
}
.hero-btn:hover,
.hero-btn:focus {
    border: 3px solid var(--btn-border-color);
}
.hero-btn:active {
    background-color: var(--btn-border-color);
    color: #FFFFFF;
}
.hero-img-second-wrap {
    width: 330px;
    height: 510px;

    position: absolute;

    top: 99px;
    right: 16px;
    z-index: -1;
}
.hero-img-second {
    margin-top: 20px;
}
/* about styles */
.about {
    background-color: var(--secondary-bgc);
}
.about-container {
    padding-top: 90px;
    padding-bottom: 100px;

    display: flex;
    gap: 44px;
}
.aside-about {
    font-size: 20px;
    line-height: 1.3; 
    text-transform: uppercase;

    display: block;
    width: 176px;

    margin-top: 10px;
}
.about-title {
    font-family: Alegreya Sans SC;
    font-size: 80px;
    font-weight: 500;
    line-height: 0.9;
    text-transform: uppercase;
}
.about-subtitle {
    font-size: 50px;
    font-weight: 400;
    line-height: 1.3;
    text-transform: lowercase;

    margin-left: 110px;
    margin-bottom: 40px;
}
.about-subtitle-letter {
    font-size: 50px;
    font-weight: 400;
    line-height: 1.3;
    text-transform: uppercase;

   
}
.about-list {
    display: flex;
    gap: 30px;
    max-width: 881px;

    margin-left: 110px;
    padding-bottom: 50px;

    border-bottom: 1px solid var(--primary-text-color);

    margin-bottom: 49px;
}
.about-item {
}
.about-text {
    font-size: 20px;
    line-height: 1.3;
    display: block;
    width: 441px;
}
.about-excerpt {
    font-size: 20px;
    line-height: 1.3;

    margin-left: 110px;
    margin-bottom: 40px;
}

.about-video {
    margin-left: 110px;
}
/* workshop styles */
.workshop {
}
.workshop-container {
    padding-top: 90px;
    padding-bottom: 48px;
}
.workshop-title {
    font-family: Alegreya Sans SC;
    font-size: 80px;
    font-weight: 500;
    line-height: 0.9;
    text-transform: uppercase;

    text-align: center;

    margin-bottom: 6px;
}
.workshop-wrap {
    display: flex;
    gap: 90px;

}
.workshop-content {

}
.workshop-img {
}
.workshop-list {
}
.workshop-item {
}
.workshop-icon {
}
.workshop-subtitle {
}
.workshop-text {
}
.workshop-coment {
}
.workshop-desc {
}
.workshop-link {
}