*,
*::before,
*::after {
  box-sizing: border-box;
}
/* змінні */
:root {
    --primary-font: Inter, sans-serif;
    --primary-text-color: #3D362D;
    --primary-bgc: #FFFFFF;
    --secondary-bgc: #F9F5EF;
    --text-hover: #AEA9A0;
    --btn-border-color: #EB000E;

}
/* common styles */
body {
    background-color: var(--primary-bgc);
    color: var(--primary-text-color);
    font-family: var(--primary-font);
}
/* Reset */
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}
ol, ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
a {
    text-decoration: none;
    cursor: pointer;}

  .container {
    /* 1290+16pl+16pr */
    max-width: 1322px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
 
    /* outline: 2px solid red;
    outline-offset: -2px;  */
}
 /* header styles */
 .header {
    position: relative;
 }
 .header::after {
    content: '';
    width: 1921px;
    height: 1px;
    background-color: var(--primary-text-color);

    position: absolute;
    top: 100px;
    left: 0;
}
 .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
 }
 .header-logo {
    margin-right: 731px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.header-logo-img {
}
.header-nav {
}
.header-list {
    display: flex;
    gap: 30px;
}
.header-item {
}
.header-link {
    font-size: 17px;
    line-height: 1.3;
    color: inherit;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-link:hover,
.header-link:focus {
    color: var(--text-hover);
}
/* hero styles */
.hero {

}

.hero-container {
    display: flex;

    padding-top: 80px;
    padding-bottom: 101px;

    position: relative;
}

.hero-img-first {
    margin-top: 20px;
    margin-right: 21px;
}
.hero-inform {
    display: flex;
    flex-direction: column;
    }
.hero-title {
    font-family: Alegreya Sans SC;
    font-size: 100px;
    font-weight: 500;
    line-height: 1; 
    text-transform: uppercase;

}
.hero-subtitle {
    font-family: Alegreya Sans SC;
    font-size: 80px;
    font-weight: 400;
    line-height: 0.8;
    text-transform: lowercase;

    margin-bottom: 60px;
    margin-left: 110px;

    display: block;
    max-width: 756px;
}
.hero-text {
    font-size: 20px;
    line-height: 1.3;

    margin-bottom: 110px;
    margin-left: 110px;

    display: block;
    max-width: 440px;
}
.hero-link {
    color: inherit;

    font-size: 17px;
    font-weight: 500;
    line-height: 1.3;
   
}
.hero-btn {
    border: 2px solid var(--btn-border-color);
    width: 135px;
    height: 53px;
    background-color: inherit;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    margin-left: 242px;
    
    cursor: pointer;

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-btn:hover,
.hero-btn:focus {
    border: 3px solid var(--btn-border-color);
}
.hero-btn:active {
    background-color: var(--btn-border-color);
    color: #FFFFFF;
}
.hero-img-second-wrap {
    width: 330px;
    height: 510px;

    position: absolute;

    top: 99px;
    right: 16px;
    z-index: -1;
}
.hero-img-second {
    margin-top: 20px;
}
/* about styles */
.about {
    background-color: var(--secondary-bgc);
}
.about-container {
    padding-top: 90px;
    padding-bottom: 100px;

    display: flex;
    gap: 44px;
}
.aside-about {
    font-size: 20px;
    line-height: 1.3; 
    text-transform: uppercase;

    display: block;
    width: 176px;

    margin-top: 10px;
}
.about-title {
    font-family: Alegreya Sans SC;
    font-size: 80px;
    font-weight: 500;
    line-height: 0.9;
    text-transform: uppercase;
}
.about-subtitle {
    font-size: 50px;
    font-weight: 400;
    line-height: 1.3;
    text-transform: lowercase;

    margin-left: 110px;
    margin-bottom: 40px;
}
.about-subtitle-letter {
    font-size: 50px;
    font-weight: 400;
    line-height: 1.3;
    text-transform: uppercase;

   
}
.about-list {
    display: flex;
    gap: 30px;
    max-width: 881px;

    margin-left: 110px;
    padding-bottom: 50px;

    border-bottom: 1px solid var(--primary-text-color);

    margin-bottom: 49px;
}
.about-item {
}
.about-text {
    font-size: 20px;
    line-height: 1.3;
    display: block;
    width: 441px;
}
.about-excerpt {
    font-size: 20px;
    line-height: 1.3;

    margin-left: 110px;
    margin-bottom: 40px;
}

.about-video {
    margin-left: 110px;
}
/* workshop styles */
.workshop {
}
.workshop-container {
    padding-top: 90px;
    padding-bottom: 48px;

}
.workshop-title {
    font-family: Alegreya Sans SC;
    font-size: 80px;
    font-weight: 500;
    line-height: 0.9;
    text-transform: uppercase;

    text-align: center;

    margin-bottom: 6px;
}
.workshop-wrap {
    display: flex;
    gap: 90px;
   
}
.workshop-content {
 margin-top: 60px;
}
.workshop-img {
    
}
.workshop-list {
display: flex;
flex-wrap: wrap;
gap: 30px;

flex-basis: calc((100% - 30px * 1) / 2);

margin-bottom: 40px;
}

.workshop-item {
    display: flex;
    gap: 10px;
}
.workshop-icon {
}
.workshop-text-wrap {
    
}
.workshop-subtitle {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.3;

    margin-bottom: 7px;
}
.workshop-text {
    font-size: 17px;
    line-height: 1.3;

    display: block;
    max-width: 250px;
}
.workshop-coment {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.3;

    margin-bottom: 10px;
    
    position: relative;

    display: block;

    padding-top: 40px;
}
.workshop-coment::before {
    content: '';
    background-color: var(--primary-text-color);
    width: 630px;
    height: 1px;

    position: absolute;
    top: 0;
    left: 0;

    display: block;
   }
.workshop-desc {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.3;

    margin-bottom: 50px;
}
.workshop-btn {
    border: 2px solid var(--btn-border-color);
    width: 135px;
    height: 53px;
    background-color: inherit;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    margin-left: 495px;

    cursor: pointer;

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   }
    .workshop-btn:hover,
    .workshop-btn:focus {
    border: 3px solid var(--btn-border-color);
}
    .workshop-btn:active {
    background-color: var(--btn-border-color);
    color: #FFFFFF;

}
.workshop-link {
    color: inherit;
    font-size: 17px;
    font-weight: 500;
    line-height: 1.3;
}
/* reviews styles */
.reviews {
    background-color: var(--secondary-bgc);
}
.reviews-container {
    display: flex;
  
    padding-top: 100px;
    padding-bottom: 100px;
}
.reviews-aside {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.3;
    text-transform: uppercase;

    margin-right: 130px;
}
.visually-hidden {
}
.reviews-list {
    margin-right: 30px;

    padding-top: 32px;
    padding-bottom: 33px;

    border-top: 1px solid var(--primary-text-color);
    border-bottom: 1px solid var(--primary-text-color);
}
.reviews-item:not(:last-child) {
    margin-bottom: 30px;
}
.reviews-text {
    font-size: 17px;
    font-weight: 400;
    line-height: 1.3;
}
.reviews-subtitle {
    font-size: 15px;
    font-weight: 600;
    line-height: 1.3;

    margin-bottom: 10px;
}
.reviews-img {
}
/* philosophy styles */
.philosophi {
}

.phil-container {
    padding-top: 90px;
    padding-bottom: 100px;
}
.phil-title-wrap {
    display: flex;
    gap: 43px;
}
.phil-aside {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.3;
    text-transform: uppercase;

    /* display: block;
    width: 176px; */
}
.phil-list-title {
    margin-bottom: 30px;

}
.phil-item-title {

}
.phil-title {
    font-family: Alegreya Sans SC;
    font-size: 80px;
    font-weight: 500;
    line-height: 0.9;
    text-transform: uppercase;

}
.phil-title-second {
    font-family: Alegreya Sans SC;
    font-size: 80px;
    font-weight: 500;
    line-height: 0.9;
    text-transform: uppercase;

    margin-left: 110px;
}
.phil-text-line {
    display: flex;
    gap: 83px;
   
    margin-bottom: 60px;
}
.phil-line {
    border-bottom: 1px solid var(--primary-text-color);
    width: 660px;
}
.phil-text-letter {
    font-size: 20px;
    line-height: 1.3;
    text-transform: uppercase;
}
.phil-text {
    font-size: 20px;
    line-height: 1.3;
    text-transform: lowercase;

    display: block;
    max-width: 547px;

}

.phil-list-img {
    display: flex;
    flex-wrap: nowrap;
    /* flex-basis: calc((100% - 30px * 2) / 3); */
    gap: 30px;
}
.phil-item-img {
}
.phil-img {
}
/* about authors styles */
.authors {
    background-color: var(--secondary-bgc);
}
.authors-container {
    display: flex;
    gap: 50px;
    padding-top: 100px;
    padding-bottom: 100px;
}
.authors-aside {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.3;
    text-transform: uppercase;
}
.authors-wrap {
display: flex;
gap: 30px;

}
.authors-information {
    padding-top: 85px;
    padding-bottom: 85px;
    border-top: 1px solid var(--primary-text-color);
    border-bottom: 1px solid var(--primary-text-color);
}
.visually-hidden {
}
.authors-article {
    height: 100%;
}
.authors-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 100%;
    max-width: 518px;
}
.authors-item {
}
.authors-text {
    font-size: 20px;
   font-weight: 400;
    line-height: 1.3;
 
}
.authors-comment {
}
.authors-img {
}
/* price styles */
.price {
}

.price-container {
    padding-top: 100px;
    padding-bottom: 50px;

    position: relative;
}
.price-list {
    display: flex;
    gap: 30px;

    margin-bottom: 69px;
}
.price-item:not(:last-child) {
    border-right: 1px solid #000;
}
.price-item {
}
.price-subtitle {
    font-family: Alata;
font-size: 90px;
font-weight: 400;
line-height: 0.9;
text-transform: uppercase;

margin-bottom: 15px;
}

.price-text {
    font-size: 20px;
    line-height: 1.3;
}
.price-text-part {
    font-family: Alata;
    font-size: 50px;
    font-weight: 400;
    line-height: 0.9;
    text-transform: uppercase;
}
.price-title {
    font-family: Alegreya Sans SC;
    font-size: 80px;
    font-weight: 500;
    line-height: 0.9;
    text-transform: uppercase;

    margin-left: 220px;

    margin-bottom: 40px;
}
.price-roser {
    margin-bottom: 60px;
margin-left: 220px;

max-width: 691px;
}

.price-point {
    display: flex;
    gap: 10px;

    margin-bottom: 27px;
}
.price-icon {

}

.price-desc {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.3;
    text-transform: lowercase;
}
.price-desc-letter {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.3;
    text-transform: uppercase;
}
.price-btn {
    border-radius: 50px;
border: 2px solid var(--btn-border-color);
min-width: 146px;
min-height: 53px;

font-family: Inter;
font-size: 17px;
font-weight: 500;
line-height: 1.3;
display: flex;
align-items: center;
justify-content: center;

background-color: inherit;

margin-left: 220px;

cursor: pointer;

transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.price-btn:hover,
.price-btn:focus {
    border: 3px solid var(--btn-border-color);
}
.price-btn:active {
    background-color: var(--btn-border-color);
    color: #FFFFFF;
}
.price-btn-letter {
    font-size: 17px;
    font-weight: 500;
    line-height: 1.3;
    text-transform: uppercase;
}
.price-img {
    position: absolute;
    top: 372px;
    right: 20px;
    z-index: -1;
}
/* order styles */
.order {
    background-color: var(--secondary-bgc);
}
.order-container {
    display: flex;
    gap: 152px;

    padding-top: 90px;
   padding-bottom: 110px;
}
.order-aside {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.3;
    text-transform: uppercase;
}
.order-wrap {

}
.order-title {
    font-family: Alegreya Sans SC;
    font-size: 80px;
    font-weight: 500;
    line-height: 0.9;
    text-transform: uppercase;
}

.order-text-letter {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.3;
    text-transform: uppercase;
}
.order-text {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.3;
    text-transform: lowercase;

    margin-left: 110px;
    margin-bottom: 40px;
}
.order-form {
}
.order-form-label {
}
.order-form-input {
    border-bottom: 1px solid var(--primary-text-color);
    border-top: transparent;
    border-right: transparent;
    border-left: transparent;
    padding-top: 16px;
    padding-bottom: 18px;

    background-color: inherit;

    width: 100%;
     }

.order-form-input::placeholder {
    font-size: 17px;
    line-height: 1.3;
    color: var(--text-hover); 
    position: relative;
    }
/* .order-form-input::placeholder::before {
    content: '|';
    background-color: var(--primary-text-color);
    font-size: 17px;
    font-weight: 400;
    line-height: 1.3; 
    position: absolute;
    top: 0;
    left: 0;
} */
.order-flag-tel {
    display: flex;
    gap: 10px;

    padding-top: 16px;
    padding-bottom: 18px;

    border-bottom: 1px solid rgba(174, 169, 160, 0.25);
}
.order-img {
   
}
.order-icon {
stroke: var(--primary-text-color);
fill: transparent;
}
.order-excerpt {
}
.order-label-tel {
}
.order-input-tel {
    border-color: transparent;
    background-color: inherit;

    width: 100%;
    height: 100%;
}
.order-input-tel::placeholder {
    color: var(--text-hover);
    font-size: 17px;
    font-weight: 400;
    line-height: 1.3;
}
.order-label-email {
}
.order-input-email {
    border-bottom: 1px solid rgba(174, 169, 160, 0.25);
    border-top: transparent;
    border-right: transparent;
    border-left: transparent;
    padding-top: 16px;
    padding-bottom: 18px;

    background-color: inherit;

    width: 100%;

    margin-bottom: 10px;
}
.order-input-email::placeholder {
    color: var(--text-hover);
    font-size: 17px;
   
    line-height: 1.3;
}
.order-price {
    text-align: right;

    font-size: 17px;
    font-weight: 500;
    line-height: 1.3;
}
.order-btn {
    font-size: 17px;
    font-weight: 500;
    line-height: 1.3;

    display: flex;
    padding: 15px 30px 16px 30px;
    justify-content: center;
    align-items: center;
    
    border-radius: 50px;
    border: 2px solid var(--btn-border-color);
    background-color: inherit;

    cursor: pointer;

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.order-btn:hover,
.order-btn:focus {
    border: 3px solid var(--btn-border-color);
}
.order-btn:active {
    background-color: var(--btn-border-color);
    color: #FFFFFF;
}
/* footer styles */
.footer {
    position: relative;
}
.footer::after {
    content: '';
    width: 1921px;
height: 1px;
background-color: var(--primary-text-color);

position: absolute;
top: 100px;
left: 0;
}
.footer-container {
    padding-top: 20px;
 padding-bottom: 22px;
}
.footer-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 38px;
}
.footer-img {
}
.footer-list {
    display: flex;
    gap: 30px;
}
.footer-item {
    cursor: pointer;
}
.footer-link {
    color: inherit;
    font-size: 17px;
    line-height: 1.3;
}
.footer-link:hover,
.footer-link:focus {
    color: var(--text-hover);
}
.footer-media-list {
    display: flex;
    gap: 10px;
}
.footer-media-item {
}
.footer-media-link {
}
.footer-media-icon {
 
}
.footer-media-icon:hover,
.footer-media-icon:focus {
    fill: #F9F5EF;
}
.footer-line {
}
.footer-excerpt {
    font-size: 15px;
    line-height: 1.3;
}